# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node
node_modules/
dist/
.next/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project Specific
backend/uploads/
backend/uploads_tmp/
backend/markdown_files/
